<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu(loggedUserId = ${loggedUserId})" ></header>

<main>
    <div class="container">
        <br/>
        <div class="h1">All Users</div>
        <br/>
        <table class="table" style="border-collapse: separate">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Tournaments</th>
                <th>Simulations</th>
                <th>Is Enabled?</th>
                <th>Enable/Disable</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <!--TODO add css file-->
            <tr th:each="user : ${users}" th:object="${user}">

                <td style="padding: 2px; vertical-align: middle" th:text="*{id}">id</td>
                <td style="padding: 2px; vertical-align: middle" th:text="*{username}">username</td>
                <td style="padding: 2px; vertical-align: middle">
                    <a class="card-button btn btn-success" name="tournaments"
                       th:href="@{/tournaments/{id}(id=${user.id})}">Tournaments</a>
                </td>
                <td style="padding: 2px; vertical-align: middle">
                    <a class="card-button btn btn-success" name="simulations"
                       th:href="@{/simulations/{id}(id=${user.id})}">Simulations</a>
                </td>
                <td style="padding: 2px; vertical-align: middle" th:text="*{isEnabled()}">enabled</td>
                <td style="padding: 2px; vertical-align: middle; empty-cells: show"
                    th:if="*{isEnabled() == true and isAdmin() == false}">
                    <form method="post" th:action="@{/users/disable/{id}(id=${user.id})}">
                        <button type="submit" class="card-button btn btn-warning" name="Disable">Disable</button>
                    </form>
                </td>
                <td style="padding: 2px; vertical-align: middle; empty-cells: show"
                    th:if="*{isEnabled() == false and isAdmin() == false}">
                    <form method="post" th:action="@{/users/enable/{id}(id=${user.id})}">
                        <button type="submit" class="card-button btn btn-success" name="Enable">Enable</button>
                    </form>
                </td>
                <td style="padding: 2px; vertical-align: middle"
                    th:if="*{admin == false}">
                    <a class="card-button btn btn-danger" name="simulations"
                       th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:replace="fragments/parts::footer">
</footer>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>