<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Iterated Prisoner's Dilemma</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu"></header>
<main>

    <div class="col-sm-10 offset-1">
        <p>
        <h4>In order to be able to take advantage of the features in this website you first need to understand the
            concepts behind the Prisoners's Dilemma and the Iterated Prisoner's Dilemma. If you are not familiar with
            those concepts, please take 10 minutes to watch a couple of videos that cover all you need to know to start
            playing with the toys this website provides.</h4>
        </p>
    </div>

    <div class="col-sm-6 offset-3">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t9Lo2fgxWHw"></iframe>
        </div>
    </div>

    <br/>
    <br/>

    <div class="col-sm-6 offset-3">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BOvAbjfJ0x1"></iframe>
        </div>
    </div>

    <br/>
    <br/>


</main>

<footer th:replace="fragments/parts::footer">
</footer>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    //hack to remove the '#_=_' segment that facebook adds after an invalid facebook attempt that prevents regular login without reloading the normal /login page
    if (window.location.hash == '#_=_'){
        // Check if the browser supports history.replaceState.
        if (history.replaceState) {
            // Keep the exact URL up to the hash.
            var cleanHref = window.location.href.split('#')[0];

            // Replace the URL in the address bar without messing with the back button.
            history.replaceState(null, null, cleanHref);

        } else {
            // Well, you're on an old browser, we can get rid of the _=_ but not the #.
            window.location.hash = '';
        }

    }
</script>
</body>
</html>