<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Tournament</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container text-center">
        <form method="post" th:object="${editSimulationBindingModel}">

            <div class="form-group col-6 offset-3" th:classappend="${#fields.hasErrors('name')}? 'has-danger'">
                <label for="nameId">Name</label>
                <input type="text" class="form-control" id="nameId" aria-describedby="nameHelp" name="name"
                       th:field="*{name}"/>
                <small id="nameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('name')}"
                       th:text="${error}">Error Message
                </small>
            </div>

            <div class="form-group col-6 offset-3"
                 th:classappend="${#fields.hasErrors('generationCount')}? 'has-danger'">
                <label for="generationCountId">Generation Count</label>
                <input type="number" min="0" class="form-control" id="generationCountId"
                       aria-describedby="generationCountHelp"
                       name="generationCount" th:field="*{generationCount}"/>
                <small id="generationCountHelp" class="form-control-feedback"
                       th:each="error : ${#fields.errors('generationCount')}"
                       th:text="${error}">Error Message
                </small>
            </div>


            <div class="form-group col-6 offset-3" th:classappend="${#fields.hasErrors('global')}? 'has-danger'">
                <small id="strategiesHelp" class="form-control-feedback" th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Error Message
                </small>
            </div>
            <table class="table">

                <thead>
                <tr>
                    <th class="d-inline-block ">Strategy</th>
                    <th class="d-inline-block ">Count</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="el :  ${editSimulationBindingModel.strategies}">
                    <tr>
                        <td class="d-inline-block ">
                            <input type="text" class="form-control" name="key" th:value="${el.key}" readonly="true"/>
                        </td>
                        <td class="d-inline-block ">
                            <input type="number" min="0" class="form-control" name="value" value="0"
                                   th:field="${editSimulationBindingModel.strategies[__${el.key}__]}"/>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>

            <button type="submit" class="btn btn-success">Save Changes</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            <a class="btn btn-secondary" th:href="@{/simulations}">Back</a>
        </form>
    </div>
</main>

<footer th:replace="fragments/parts::footer">
</footer>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>