<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Simulations</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu"></header>

<main>
    <div class="container">
        <br/>
        <div class="h1">Your Simulations</div>
        <br/>

        <div class="text-center" th:if="${simulations.size() == 0}">
            <h3>You have no registered simulations right now.</h3>
            <a class="card-button btn btn-primary" name="create"
               th:href="@{/simulations/{userId}/create(userId = ${userId})}">Create</a>
        </div>
        <div class="text-center" th:unless="${simulations.size() == 0}">
            <a class="card-button btn btn-primary" name="create"
               th:href="@{/simulations/{userId}/create(userId = ${userId})}">Create</a>
        </div>

        <br/>

        <div th:unless="${simulations.size() == 0}">
            <table class="table" style="border-collapse: separate">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Generation #</th>
                    <th>Strategies</th>
                    <th style="width:8%">Show</th>
                    <th style="width:8%">Edit</th>
                    <th style="width:8%">Delete</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="simulation,iter : ${simulations}" th:object="${simulation}">
                    <td th:text="${iter.index}+1"></td>
                    <td th:text="*{name}">id</td>
                    <td th:text="*{generationCount}">id</td>
                    <td>
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Dropdown link
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <ul class="dropdown-item list-unstyled">
                                    <li th:each="el : *{strategyCount}"
                                        th:text="${el.key + ' : ' + el.value}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><a class="card-button btn btn-success" name="show"
                           th:href="@{/simulations/{userId}/show/{id}(userId=${userId},id=${simulation.id})}">Show</a>
                    </td>
                    <td><a class="card-button btn btn-warning" name="edit"
                           th:href="@{/simulations/{userId}/edit/{id}(userId=${userId},id=${simulation.id})}">Edit</a>
                    </td>
                    <td><a class="card-button btn btn-danger" name="delete"
                           th:href="@{/simulations/{userId}/delete/{id}(userId=${userId},id=${simulation.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer th:replace="fragments/parts::footer">
</footer>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>