<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu"></header>

<main>
    <div class="container">
        <h1>Login Page</h1>
        <div style="color: red" th:if="${error} != null" th:text="${error}"></div>
        <form method="post">
            <div class="form-group">
                <label class="form-control-label" for="inputUsername">Username</label>
                <input type="text" class="form-control form-control-danger col-4" id="inputUsername" name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="inputPassword">Password</label>
                <input type="password" class="form-control form-control-danger col-4" id="inputPassword" name="password" placeholder="password"/>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="rememberMe"/>
                    Remember Me
                </label>
            </div>
            <input type="submit" class="btn btn-success" value="Log In"/>
        </form>
        <br/>
        <form action="/connect/facebook" method="post">
            <input type="hidden" name="scope" value="public_profile, email"/>
            <input class="btn btn-primary" type="submit" value="Facebook"/>
        </form>
    </div>
</main>
<footer th:replace="fragments/parts::footer">
</footer>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    //hack to remove the '#_=_' segment that facebook adds after an invalid facebook attempt that prevents regular login without reloading the normal /login page
    if (window.location.hash == '#_=_'){
        // Check if the browser supports history.replaceState.
        if (history.replaceState) {
            // Keep the exact URL up to the hash.
            var cleanHref = window.location.href.split('#')[0];

            // Replace the URL in the address bar without messing with the back button.
            history.replaceState(null, null, cleanHref);

        } else {
            // Well, you're on an old browser, we can get rid of the _=_ but not the #.
            window.location.hash = '';
        }

    }
</script>
</body>
</html>