<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #513e46;" th:fragment="menu">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Iterrated Prisoner's Dilemma</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/strategies">Strategies</a>
            </li>
            <div sec:authorize="hasRole('ADMIN') or hasRole('USER')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarTournamentsDropdownMenu"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tournaments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarTournamentsDropdownMenu">
                        <!--TODO change links-->
                        <a class="dropdown-item" href="/tournaments">Show</a>
                        <a class="dropdown-item" href="/tournaments/create">Create</a>
                    </div>
                </li>
            </div>

            <div sec:authorize="hasRole('ADMIN') or hasRole('USER')">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarSimulationDropdownMenu"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Simulations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSimulationDropdownMenu">
                        <a class="dropdown-item" href="/simulations">Show</a>
                        <a class="dropdown-item" href="/simulations/create">Add</a>
                    </div>
                </li>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </div>
        </ul>
        <!--TODO right align those buttons-->
        <ul class="nav navbar-nav navbar-right ">
            <li class="nav-item ">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item pull-xs-right " sec:authorize="isAnonymous()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item pull-xs-right" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container modal-footer" th:fragment="footer">
    <p>&copy; 2017 - Software University Foundation </p>
    <!--TODO insert a new line here-->
    <p>Kamen Petrov™ - No Rights Reserved (Yet ☺/)</p>
</div>

</body>
</html>